
.token-wrapper{
  height: 10rem;
  overflow: auto;
  border: 1px solid grey;
  border-radius: 1rem;
  margin: 1.2rem 0;
  padding: 1rem;
}

.ml_3{
  margin-left: 1rem;
}

.line-break{
  background-color: gray;
  height: 1px;
  width: 60%;
  margin: 2rem auto;
}